@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

html {
	font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: currentColor;
}

body{
    background-color: black;
}

main{
    padding: 36px;
}

.container {
	max-width: 1308px;
    max-height: 589px;
	margin: 0 auto;
}

ol, ul, menu{
    list-style: none;
}

.row{
    display: flex;
    justify-content: space-between;
}

.main-content{
    border: 2px solid red;
}

.col-7{
    width: 182px;

}

.card-image{
    position: relative;
}

.card-info{
    color: white;
    width: 70px;
    height: 18px;
    background-color: #68717D;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}









footer{
    height: 78px;
    background-color: #222222;
}